<ni-card [title]="" [align]="'center'">
  <img src="assets/img/img politicas-01.png" alt="">
  <div style="width: 80%;margin-left: 10%;">
    <p style="font-size: 20px;text-align: left;padding-bottom: 5%;">El Centro de Carreras Técnicas- CCT Universidad de Antofagasta mantendrá la privacidad de todos los datos personales que el usuario entregue voluntariamente tanto en sus publicaciones como en las conversaciones directas que se generen a través de la fan page del mismo nombre.<br><br>
      Los datos personales entregados de forma voluntaria serán utilizados para proporcionar información sobre la oferta académica del Centro de Carreras Técnicas de la Universidad de Antofagasta.</p>
  </div>
</ni-card>